.recoverer-popup {
  display: inline-block;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 10px;
  padding: 10px;
  background: white;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.35),
    inset 0 4px 2px -4px rgba(0, 0, 0, 0.40);
  border: 1px solid #AAA;
  border-top: none;
}

.recoverer-popup > .recoverer-btn {
  font-family: sans-serif;
  font-size: 14px;
  height: 28px;
  padding: 4px 8px;
  margin: 0 2px;
  border: none;
  color: white;
  background: #1F8DD6;
  border-radius: 5px;
  box-shadow: none;

}

.recoverer-popup > .recoverer-btn:hover {
  background: #1974B0;
}

.recoverer-popup > .recoverer-btn:active {
  background: #1974B0;
  box-shadow: inset 0 25px 20px -20px rgba(0, 0, 0, 0.2);
}